*{
      margin: 0;
      padding: 0;
      font-family: 'Courier New', Courier, monospace;
}
header{
      text-align: center;
      padding: 30px;
      margin-top: 30px;
      justify-content: center;
      background-color: greenyellow;
      display: flex;
}
.botonTabal{
      border-radius: 10px;
      background-color: honeydew;
      margin: auto 30px;
      padding: 10px;
      box-shadow: 3px 3px 3px rgb(22, 169, 2);
}
.botonTabal a{
      text-decoration: none;
      color: black;
}
.contenedor{
      text-align: center;
      margin: 30px auto;
}
.info__uno, .info__dos{
      display: flex;
      justify-content: center;
      padding: 10px;
      margin: 10px auto;
}
.tipo, .sector, .externas, .estracto, .internas, .internas p, .barrio, .antiguedad, .estado, .precio, .metros, .garaje, .habitacion, .banos, .descripcion{
      margin: auto 10px;
      font-size: 10px;
}
.tipoS, .sectorS, .barrioS, .estractoS, .antiguedadS, .estadoS, .precioS, .metrosS, .garajeS, .habitacionS, .banosS{
      width: 200px;
      font-size: 15px;
      padding: 10px;
      border-radius: 15px;
}
.info__tres__hijo{
      display: flex;
      justify-content: center;
      margin: 20px;
}
.descripcionS{
      width: 600px;
      height: 400px;
}
.internas, .externas, .sector{
      padding: 20px;
}
.internas1D, .externas1D, .sector1D{
      padding: 20px;
}
.internas1D input, .externas1D input, .sector1D input{
      border-radius: 10px;
      width: 250px;
      height: 30px;
      margin: 20px;
      padding: 5px;
}
.botonS{
      margin-bottom: 90px;
      box-shadow: 3px 3px 3px rgb(22, 169, 2);
      padding: 10px;
}
.comandosIngresa{
      background-color: greenyellow;
      display: flex;
      justify-content: center;
}
.comandoSiguiente{
      border: solid 1px #000;
      border-radius: 5px;
      padding: 10px;
      display: block;
}
.boton, .botonSiguienteIngresa{
      margin: 20px 40px;
}
.contenedor__header__hijo{
      border: solid 3px rgb(230, 230, 230);
      margin: 5px 30px;
      background-color: rgb(240, 240, 240);
}
.contenedor__header__hijo a{
      padding: 30px 30px;
      color: black;
}
.cabeceraTablaTres{
      text-align: center;
      margin: 20px auto;
      padding: 10px;     
}
.cuerpoTablaTres{
      margin: auto;
}
.cuerpoTablaTres li{
      display: flex;
      margin: auto 40px;
      justify-content: center;
}
.cuerpoTablaTres p{
      margin: auto 40px;
      background-color: rgb(240, 240, 240);
      padding: 10px 70px;
}
.cuerpoTablaTres input{
      padding: 10px;

}
.botonunoHeader{
      box-shadow: 3px 3px 3px rgb(22, 169, 2);
}