*{
      margin: 0;
      padding: 0;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header{
      text-align: center;
      padding: 30px;
      margin-top: 30px;
      justify-content: center;
      background-color: greenyellow;
      display: flex;
}
.botonTabal{
      border: solid 1px;
      border-radius: 10px;
      background-color: honeydew;
      margin: auto 30px;
      padding: 10px;
}
.botonTabal a{
      text-decoration: none;
      color: black;
}
.contenedor{
      text-align: center;
      margin: 30px auto;
}
.info__uno, .info__dos{
      display: flex;
      justify-content: center;
      padding: 10px;
      margin: 10px auto;
}
.tipo, .sector, .externas, .estracto, .internas, .internas p, .barrio, .antiguedad, .estado, .precio, .metros, .garaje, .habitacion, .banos, .descripcion{
      margin: auto 10px;
      font-size: 10px;
}
.tipoS, .sectorS, .barrioS, .estractoS, .antiguedadS, .estadoS, .precioS, .metrosS, .garajeS, .habitacionS, .banosS{
      width: 200px;
      font-size: 15px;
      padding: 10px;
      border-radius: 15px;
}
.info__tres__hijo{
      display: flex;
      justify-content: center;
      margin: 20px;
}
.descripcionS{
      width: 600px;
      height: 400px;
}
.internas, .externas, .sector{
      padding: 20px;
}
.internas1D, .externas1D, .sector1D{
      padding: 20px;
}
.internas1D input, .externas1D input, .sector1D input{
      border-radius: 10px;
      width: 250px;
      height: 30px;
      margin: 20px;
      padding: 5px;
}
.botonS{
      margin-bottom: 90px;
      padding: 10px;
}